@{
    ViewData["Title"] = "Результаты приема";      
}
<div class = 'container mt-4'>
    <form>
        <div class='form-group'>
            <label for="diagnosis">Диагноз</label>
            <textarea class="form-control" name="diagnosis" rows="4"></textarea>
            <label for="diagnosis">Рекомендации</label>
            <textarea class="form-control" name="recomend" rows="4"></textarea>
        </div>

        <div class="form-check m-4 font-weight-bold">
                <label><input type="checkbox" class="form-check-input" name = 'attendance' value = 'false'>Не явился</label>
        </div>

        <button class = 'btn btn-primary' type = 'submit'>Отправить</button>
    </form>
</div>

@section Styles {

}

@section Scripts {

}