<div class='col'>
    <div class='filter card p-3 mb-2'>
        <form method="post" action="/ObjectOfExpenditures/CountlyMonth">
            <div class='form-group'>
                <label for='dateMin'>Дата</label>
                <input class='form-control form-control-sm' type="date" id='birthdate' name='date'>
                <label for='dateMax'>Дата</label>
                <input class='form-control form-control-sm' type="date" id='birthdate' name='date'>
            </div>
            <div class='form-group'>
                <div class='form-group'>
                    <label for="material">Материал</label>
                    <select class='form-control form-control-sm' name='MaterialId'>
                        @foreach (var item in ViewBag.Materials)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class='form-group'>
                    <label for='provider'>Поставщик</label>
                    <select class='form-control form-control-sm' name='ProviderId'>
                        @foreach (var item in ViewBag.Providers)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
            </div>
            <div class='form-group text-center'>
                <button type="submit" class="btn btn-primary">Показать</button>
            </div>
        </form>
    </div>
</div>